<div class="pagination">
    {% if paginator.total_posts > 0%}
        {% if paginator.previous_page %}
        <span class="prev">
          <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
            &#xE000; Previous
          </a>
        </span>
        {% endif %}
        <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <span class="next">
          <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
            Next &#xE001;
          </a>
        </span>
        {% endif %}
    {% endif %}
</div>