<div class="posts">

    {% if paginator.posts.size == 0 %}
    <h2 class="empty_posts">등록된 포스트가 없습니다.</h2>
    {% endif %}

    {% for post in paginator.posts %}
    <article class="post">
        <h1>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% for category in post.categories %}
                <span>[{{ category }}]</span>
                {% endfor %}
                {{ post.title }}
            </a>
        </h1>

        <div class="meta">
            <span class="date">
              {{ post.date | date: "%Y-%m-%d" }}
            </span>
        </div>

        <div class="entry">
            {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}

    {% include pagination.html %}
</div>